body {
    color: hsl(210, 51%, 20%);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: light;
  }
  
  .content-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
  }
  
  /* Top navigation bar */

.navbar {
  /*display: block;*/
  width: 100%;
  padding: 0;
  background-color: darkgray;
  /*text-align: right;*/
  display: flex;
}

/* Breadcrumb Menu */

.breadcrumbs {
  color: white;
  font-style: italic;
  width: 50%;
  display: inline-flex;
  float: left;
  padding: 0;
  margin-left: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  justify-content: flex-start;
}

.breadcrumbs li {
  display: inline-flex;
  margin: 0;
  margin-right: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.breadcrumbs li::after {
  content: '>';
  padding:  0.5em;
}

.breadcrumbs li:last-child::after {
  content: '';
}

.breadcrumbs a {
  color: white;
  text-underline-offset: 3px;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 1.1em;
  text-underline-offset: -0.9em;
  text-decoration-skip-ink: none;
}

/* main navigation menu */

.main_nav {
  width: 50%;
  padding: 0;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: inline-flex;
  justify-content: flex-end;
}

.main_nav li {
  display: inline-flex;
  margin: 0;
  margin-right: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.main_nav a {
  text-decoration: none;
  color: white;
}

.main_nav a:hover {
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
}
  
  header {
    clear: both;
    text-align: center;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 30px;
    background-color: #CBC3E3;
    display: flex;
    flex-direction: column;
    background-color: beige;
    /*border: 5px solid black;*/
  }
  
  h1 {
    /*Heading for the entire article*/
    background-color: #CBC3E3;
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  h2 {
    /*Heading for the entire article*/
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    margin-top: 20px;
  }
  
  .byline {
    background-color: plum;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
  }
  /*
  .author {
    display: inline;
  }
  
  .author-title {
    display: inline;
  }
  
  .byline .separator {
    display: inline;
  }
  */
  
  main {
  background-color: beige;
  display: flex;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    background-color: beige;
  }
  
  h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 0px;
  }
  
  figure {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  
  img {
  
  }
  
  figcaption {
    font-style: italic;
  }
  
  .text {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .intro p{
    font-weight: 100;
    font-style: italic;
    font-size: 1.3em;
  }
  
  .joshuatree .text {
    margin-right: 40px;
  }
  
  
  .joshuarock .text {
    margin-right: 40px;
  }
  
  .cacti .text {
    margin-right: 40px;
  }

  .skullrock .text {
    margin-right: 40px;
  }
  
  .campingstars .text {
    margin-right: 40px;
  }

  .griffith .text {
    margin-right: 40px;
  }

  .hollywood .text {
    margin-right: 40px;
  }

  .night .text {
    margin-right: 40px;
  }

  .grandcanyon .text {
    margin-right: 40px;
  }

  .horseshoebend .text {
    margin-right: 40px;
  }

  .antelopecanyon .text {
    margin-right: 40px;
  }

  .grandstar .text {
    margin-right: 40px;
  }

  .outro .text {
    margin-right: 40px;
  }

  ul {
    font-style: italic;
  }
  
  li {
    margin-bottom: 20px;
  }
  
  
  footer {
    background-color: lightgray;
    color: white;
    clear: both;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  